if !server || !server.gameMode
    | Server not found.
else
    h2: a(href=("/server/"+server.host+"/"+server.port)) !{server.descriptionStyled}
    a#server-address(onclick="showConnect('"+server.host+"', "+server.port+")") #{server.host}:#{server.port}
    span  |
        if (server.country && server.country != "unknown")
            img.flag(src="/images/flags/"+server.country+".png")
        |  #{server.countryName}
    br
    br
    if server.info.banned
        span(style="color: red") This server is banned. Reason: #{server.info.banned}.
    else
        a(href=("/games/find?host="+server.host+"&port="+server.port)) View other games from this server...
    br
    if server.zombie
        span(style="color: red") Zombie games are not recorded.
        br
    if server.gameMode == "coop_edit"
        span(style="color: red") Coop-edit games are not recorded.
        br
    if server.info.website || server.info.demourl
        br
    if server.info.website
        label.big Website: <a href="#{server.info.website}">#{server.info.website}</a>
    if server.info.demourl
        label.big Demos: <a href="#{server.info.demourl}">#{server.info.demourl}</a>
    br
    h5
        | #{server.gameMode}
        span#map-name #{server.mapName}
        if server.masterMode
            |  |
            span(style=("color: "+vars.materModeColors[server.masterMode])) #{server.masterMode}
        if server.gameType
            |  | #{server.gameType}
        if server.timeLeftS
            |  | #{server.timeLeftS}
            if server.timeLeftS != "intermission"
                |  left
        |  |
        span(style=(server.clients==server.maxClients? "color: yellow": ""))  #{server.clients}
            if server.maxClients
                | /#{server.maxClients}
        |  players
        if server.time
            |  |
            span.date= (server.time instanceof Date)? server.time.toJSON(): server.time

    - var players = _.groupBy(server.players, function (pl) { return pl.state==5; });
    - var specs = players[true];
    - players = players[false];
    - var teamMode = vars.gameModes[server.gameMode].teamMode;
    - var flagMode = vars.gameModes[server.gameMode].flagMode;
    - if (!teamMode) {
    -     teams = [{players: players}];
    - } else {
    -     var teams = _.groupBy(players, "team");
    -     teams = _.orderBy(_.map(server.teams, function (val, key) {
    -         if (server.gameMode.indexOf("team") >= 0 && val === 0) val = _.sumBy(teams[key], "frags");
    -         return {name: key, score: val, players: teams[key]};
    -     }), "score", "desc");
    - }
    - _.each(teams, function (team) { team.players = _.orderBy(team.players, ["flags", "frags", "deaths"], ["desc", "desc", "asc"]); });
    - var pings = server.players[0]&&(server.players[0].ping!==undefined);
    .row
        for team in teams
            .large-6.columns
                if team.players.length
                    br
                    if !teamMode
                        label.big Players
                    else
                        label.big
                            span(class=(team.name=="good"? "primary": "alert")) #{team.name}
                            |  #{team.score}
                if team.players.length
                    table.scroll(width="100%")
                        thead
                            tr
                                if flagMode
                                    td(width="5%")
                                        img.small-icon(title="Flags", src="/images/icons/flag.png")
                                td(width="30%") Name
                                td(width="7%")
                                    img.small-icon(title="Frags", src="/images/icons/mp5.png")
                                td(width="7%")
                                    img.small-icon(title="Deaths", src="/images/icons/skull.png")
                                td(width="5%") K/D
                                td(width="5%")
                                    img.small-icon(title="Teamkills", src="/images/icons/backstab.png")
                                td(width="5%")
                                    img.small-icon(title="Accuracy", src="/images/icons/crosshair.png")
                                td(width="20%") Country
                                if pings
                                    td(width="15%") Ping
                        tbody
                            for player in team.players
                                tr
                                    if flagMode
                                        td
                                            span.label(class=(player.flags? "success": "secondary")) #{player.flags}
                                    td
                                        a(href=("/player/"+encodeURIComponent(player.name))) #{player.name}
                                    td #{player.frags}
                                    td #{player.deaths}
                                    td #{player.kpd}
                                    td #{player.tks}
                                    td #{player.acc}%
                                    td.nowrap
                                        if player.country
                                            img.flag(src=("/images/flags/"+player.country+".png"))
                                        | #{player.countryName}
                                    if pings
                                        td #{player.ping||0}

    if specs
        .row
            .large-6.columns
                label.big Spectators

                table(width="100%")
                    thead
                        tr
                            td(width="40%") Name
                            td(width="40%") Country
                            if pings
                                td(width="20%") Ping
                    tbody
                        for spec in specs
                            tr
                                td
                                    a(href=("/player/"+spec.name)) #{spec.name}
                                td
                                    if spec.country
                                        img.flag(src=("/images/flags/"+spec.country+".png"))
                                    | #{spec.countryName}
                                if pings
                                    td #{spec.ping||0}
