if results.length
    table.scroll#search-results(width="100%")
        thead
            tr
                td(width="19%") Name
                td(width="9%") Frags
                td(width="9%") Flags
                td(width="9%") Deaths
                td(width="9%") TKs
                td(width="9%") K/D
                td(width="9%") Accuracy
                td(width="9%") Elo
                td(width="18%") Country
        tbody
            for player in results
                tr.unclickable
                    td
                        a(href=("/player/"+encodeURIComponent(player.name)))= player.name
                        if player.online
                            |  
                            span.label.success online
                    td= player.frags
                    td= player.flags
                    td= player.deaths
                    td= player.tks
                    td= player.kpd
                    td= _.padStart(parseInt(player.acc).toString(), 2, "0")+"%"
                    td= player.elo
                    td
                        if player.country
                            img.flag(src=("/images/flags/"+player.country+".png"))
                            |  
                            = player.countryName
                        else
                            | Unknown
    
    if (results.length == 200)
        | Results are too big to show. You should narrow down your search query.
        
else
    | No results.
