extends ./_layout.pug

block vars
    - section = "players";
    - title = error? "Error": player.name;
    link(href='//fonts.googleapis.com/css?family=Raleway:900', rel='stylesheet', type='text/css')
    
mixin fixedAcc(accuracy)
    = _.padStart(parseInt(accuracy).toString(), 2, "0")+"%"

block content
    .row.main-container
        ul.breadcrumbs
            li Players
            li.current= playerName||player.name
        .medium-12.columns
            if error
                label.big #{error}
            else
                .row
                    .medium-12.large-6.columns
                        h2#player-name(style="font-family: Raleway; font-weight: 900;")= player.name
                        span
                            if (!player.country || player.countryName == "Unknown")
                                | Country unknown
                            else
                                img.flag(src="/images/flags/"+player.country+".png")
                                |  
                                a.no-color(href="/players/find?country="+player.country)= player.countryName
                        br
                        br
                        label.big Games played: 
                            span.stat-digits #{totalGames}
                        br
                        label.big ELO: 
                            span.stat-digits #{player.elo}
                        br
                        if player.clan
                            label.big Clan: 
                                a(href='/clan/'+player.clanTag) #{player.clan}
                        br
                            
                        br
                    
                    .medium-12.large-6.columns
                        br
                        table(width="100%")
                            thead
                                tr
                                    td(width="20%") Stats
                                    td.text-center(width="27%") Total
                                    td.text-center(width="27%") Insta modes
                                    td.text-center(width="27%") Effic modes
                            tbody
                                tr
                                    td Frags
                                    td.text-center= player.frags
                                    td.text-center= player.instastats[0]
                                    td.text-center= player.efficstats[0]
                                tr
                                    td Flags
                                    td.text-center= player.flags
                                    td.text-center= player.instastats[1]
                                    td.text-center= player.efficstats[1]
                                tr
                                    td Deaths
                                    td.text-center= player.deaths
                                    td.text-center= player.instastats[2]
                                    td.text-center= player.efficstats[2]
                                tr
                                    td Teamkills
                                    td.text-center= player.tks
                                    td.text-center= player.instastats[3]
                                    td.text-center= player.efficstats[3]
                                tr
                                    td K/D
                                    td.text-center= player.kpd
                                    td.text-center= player.instastats[4]
                                    td.text-center= player.efficstats[4]
                                tr
                                    td Accuracy
                                    td.text-center: +fixedAcc(player.acc)
                                    td.text-center: +fixedAcc(player.instastats[5])
                                    td.text-center: +fixedAcc(player.efficstats[5])
                
                br
                            
                .row.medium-12.large-12.columns(style="position: relative;")
                    div.duel-desc Duels 
                        span.stat-digits= duelStats.total
                    if duelStats.total > 0
                        if duelStats.wins > 0
                            div.duel-desc(style="left: 0; width: "+(duelStats.wins*100/duelStats.total)+"%;") Won 
                                span.stat-digits= duelStats.wins
                        if duelStats.ties > 0
                            div.duel-desc(style="left: "+Math.min(duelStats.wins*100/duelStats.total, 90)+"%;  width: "+Math.max(duelStats.ties*100/duelStats.total, 5)+"%;") Tied 
                                span.stat-digits= duelStats.ties
                        if duelStats.losses > 0
                            div.duel-desc(style="left: "+Math.min((duelStats.wins+duelStats.ties)*100/duelStats.total, 95)+"%; width: "+Math.max(duelStats.losses*100/duelStats.total, 5)+"%;") Lost 
                                span.stat-digits= duelStats.losses
                if duelStats.total > 0
                    .row.medium-12.large-12.columns(style="margin-top: 2em;")
                        span.duel-bar(style="width: "+(duelStats.wins*100/duelStats.total)+"%; background-color: green;")
                        span.duel-bar(style="width: "+(duelStats.ties*100/duelStats.total)+"%; background-color: orange;")
                        span.duel-bar(style="width: "+(duelStats.losses*100/duelStats.total)+"%; background-color: red;")
                else
                    br
                                    
                if games
                    br
                    table.scroll(width="100%")
                        thead
                            tr
                                td(width="20%") Recent games
                                td(width="20%") Mode / Map
                                td(width="12%") Type
                                td(width="28%") Result
                                td(width="20%") End time
                        tbody
                            for game in games
                                tr
                                    td: a(href=("/game/"+game.id))
                                        if game.serverdesc
                                            = game.serverdesc
                                        else
                                            = game.host+":"+game.port
                                    td= game.gamemode+" "+game.map
                                    td= game.gametype
                                    td.text-center
                                        if (game.gametype === 'duel' || game.gametype == 'clanwar')
                                            - let meta = JSON.parse(game.meta);
                                            .row
                                                .small-6.columns(style="text-align: right; padding-right: 10;")
                                                    = meta[2]+" "
                                                    span.label(class=(meta[1]===meta[3]? "warning": "success"), style="cursor: pointer")
                                                        = meta[3]
                                                .small-6.columns(style="text-align: left; padding-right: 10;")
                                                    span.label(class=(meta[1]===meta[3]? "warning": "alert"), style="cursor: pointer")
                                                        = meta[1]
                                                    = " "+meta[0]
                                        else if (vars.gameModes[game.gamemode].flagMode)
                                            | #{game.flags} <small>flags</small>, #{game.frags}/#{game.deaths} <small>K/D</small>, #{game.acc}% <small>accuracy</small>
                                        else
                                            | #{game.frags}/#{game.deaths} <small>K/D</small>, #{game.acc}% <small>accuracy</small>
                                    td: span.date= (game.timestamp instanceof Date)? game.timestamp.toJSON(): game.timestamp
                            tr
                                td: a(href=("/games/find?exact=on&players="+encodeURIComponent(player.name))) View all...
                                td
                                td
                                td
                                td
                                    
                .row.columns.client-side(style="margin-top: 1em")
                    br
                    label.big Activity chart:
                    div(style="width: 100%; margin-right: 50px;")
                        canvas#player-activity-month(style="width: 100%; height: 300px;")

block scripts
    script(src="/js/player.js")
