extends ./_layout.pug

block vars
    - section = "home";
    - title = "Stats";

block content
    .row.main-container
        ul.breadcrumbs
            li.current= title
        .medium-12.columns.end
            label.big Last 7 days' statistics:
            table(width="100%")
                thead
                    tr
                        td(width="25%") Day
                        td(width="25%", style="text-align: right;") Games
                        td(width="25%", style="text-align: right;") Visitors
                        td(width="25%", style="text-align: right;") Requests
                tbody
                    for row in stats
                        tr
                            td= (row.date==today)? "Today": ((row.date==yesterday)? "Yesterday": row.date)
                            td(style="text-align: right;")= row.games||0
                            td(style="text-align: right;")= row.visitors||0
                            td(style="text-align: right;")= row.requests||0
