extends ./_layout.jade

block vars
    - section = "clans";
    - title = "Clans";
    
block content
    .row.main-container
        ul.breadcrumbs
            li.current Clans
        .medium-12.large-6.columns
            if error
                label.big= error
            else
                table(width="100%")
                    thead
                        tr
                            td(width="10%") Rank
                            td(width="24%") Clan
                            td(width="22%") Wins
                            td(width="22%") Losses
                            td(width="22%") Win rate
                    tbody
                        for clan in clans
                            tr
                                td= clan.rank
                                td: a(href=("/clan/"+encodeURIComponent(clan.name)))= clan.name
                                td= clan.wins
                                td= clan.losses
                                td= ""+parseInt(clan.rate*100)+"%"
                                
        .medium-12.large-6.columns.end
            if weeklyClans
                label.big Top clans this week:
                table(width="100%")
                    thead
                        tr
                            td(width="34%") Clan
                            td(width="33%") Wins
                            td(width="33%") Win rate
                    tbody
                        for clan in weeklyClans
                            tr
                                td: a(href=("/clan/"+encodeURIComponent(clan.name)))= clan.name
                                td= clan.wins
                                td= ""+parseInt(clan.rate*100)+"%"
                            
            if monthlyClans
                label.big Top clans this month:
                table(width="100%")
                    thead
                        tr
                            td(width="34%") Clan
                            td(width="33%") Wins
                            td(width="33%") Win rate
                    tbody
                        for clan in monthlyClans
                            tr
                                td: a(href=("/clan/"+encodeURIComponent(clan.name)))= clan.name
                                td= clan.wins
                                td= ""+parseInt(clan.rate*100)+"%"
