doctype html
html
    head
        title Metrics
        
    body
        | Total servers: #{metrics.length}
        br
        table
            thead
                tr
                    td(width="200px") Server
                    td(width="200px") Avg Poll Time
                    td(width="200px") Avg Reply Time
                    td(width="200px") Loss
            tbody
                for metric in metrics
                    tr
                        td #{metric.name}
                        td #{Math.floor(metric.stats.averagePollTime*10)/10} s
                        td #{Math.floor(metric.stats.averageReplyTime*10)/10} s
                        td #{Math.floor(metric.stats.loss)}%
