extends ./_layout.pug

block vars
    - section = "players";
    - title = "Find Players";

block content
    .row.main-container
        ul.breadcrumbs
            if name
                li Players
                li.current= name
            else
                li.current Players
        .medium-12.columns
            form#search-form(action="/players/find", method="get")
                .row
                    .small-4.medium-3.large-2.columns
                        label.big.text-right.middle(for="name") Name:
                    .small-8.medium-7.large-8.columns
                        input#name(type="text", name="name", placeholder="Name...", value=(name))
                    .small-4.small-pull-4.medium-2.medium-pull-0.columns.small-centered
                        button.button.expanded#submit(type="submit") Search
                .row
                    .small-4.medium-3.large-2.columns
                        label.big.text-right.middle(for="country") Country:
                    .small-8.medium-9.large-10.columns
                        select#country(name="country")
                            option(value="")
                            for country in countries
                                option(value=country.country, style=("background: url('/images/flags/"+country.country+".png') no-repeat; padding-left: 28px;"))= country.name+" ("+country.count+" players)"
                        
            #search-result-container
                if error
                    = error
                else if typeof(results)!="undefined"
                        include ./_partials/player-search-results.pug
                else
                    - var categories = ["daily", "weekly", "monthly", "alltime"];
                    - var categoriesNice = ["today", "7 days", "30 days", "beginning of time"];
                    div(style="text-align: center; font-size: 1.1rem"): span.client-side
                        | Show leaderboard since 
                        - for (var i = 0; i < categories.length; i++) {
                            if i > 0
                                |  - 
                            a.category-title(id="ct-"+categories[i], onclick="return selectCategory('"+categories[i]+"')")= categoriesNice[i]
                        - }
                    br
                    for category in categories
                        .row.category-body(id="top-"+category)
                            noscript: h3(style="text-align: center")= category.charAt(0).toUpperCase() + category.slice(1) + " leaderboard"
                            .medium-3.columns
                                table(width="100%")
                                    thead
                                        tr
                                            td(width="34%") Top duelists
                                            td(width="33%") Wins
                                            td(width="33%") Win rate
                                    tbody
                                        for player in topDuelists[category]
                                            tr
                                                td: a(href=("/player/"+encodeURIComponent(player.name)))= player.name
                                                td= player.wins
                                                td= ""+parseInt(player.wins/player.games*100)+"%"
                            .medium-3.columns
                                table(width="100%")
                                    thead
                                        tr
                                            td(width="50%") Top players
                                            td(width="50%") Games
                                    tbody
                                        for player in topPlayers[category]
                                            tr
                                                td: a(href=("/player/"+encodeURIComponent(player.name)))= player.name
                                                td= player.count
                            .medium-3.columns
                                table(width="100%")
                                    thead
                                        tr
                                            td(width="50%") Top fraggers
                                            td(width="50%") Frags
                                    tbody
                                        for player in topFraggers[category]
                                            tr
                                                td: a(href=("/player/"+encodeURIComponent(player.name)))= player.name
                                                td= player.frags
                            .medium-3.columns
                                table(width="100%")
                                    thead
                                        tr
                                            td(width="50%") Top flagrunners
                                            td(width="50%") Flags
                                    tbody
                                        for player in topRunners[category]
                                            tr
                                                td: a(href=("/player/"+encodeURIComponent(player.name)))= player.name
                                                td= player.flags

block scripts
    script(src="/js/players.js")
